In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
df = pd.read_csv('matches.csv')

In [ ]:
df.head()

In [ ]:
df = df.drop(['Unnamed: 0'],axis=1)

In [ ]:
df.tail(30)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60529 entries, 0 to 60528
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Season      60529 non-null  object
 1   Date        50568 non-null  object
 2   Home        50568 non-null  object
 3   xG          2660 non-null   float64
 4   Home Goals  50568 non-null  float64
 5   Away Goals  50568 non-null  float64
 6   xG.1        2660 non-null   float64
 7   Away        50568 non-null  object
 8   Attendance  11446 non-null  float64
 9   Venue       12406 non-null  object
dtypes: float64(5), object(5)
memory usage: 4.6+ MB

In [34]:
df.isnull().sum()

Season            0
Date           9961
Home           9961
xG            57869
Home Goals     9961
Away Goals     9961
xG.1          57869
Away           9961
Attendance    49083
Venue         48123
dtype: int64

Looks like there are quite a lot of null values in all columns except Season

In [35]:
df.describe()

                xG    Home Goals    Away Goals         xG.1    Attendance
count  2660.000000  50568.000000  50568.000000  2660.000000  11446.000000
mean      1.504361      1.801100      1.172540     1.228496  33295.807968
std       0.851252      1.464901      1.146355     0.753071  14223.190117
min       0.000000      0.000000      0.000000     0.000000   2000.000000
25%       0.900000      1.000000      0.000000     0.700000  23246.000000
50%       1.400000      2.000000      1.000000     1.100000  31130.000000
75%       2.000000      3.000000      2.000000     1.600000  40162.000000
max       7.000000     12.000000      9.000000     4.600000  83222.000000

Provides the descriptive statistics for the numerical values in dataset

In [36]:
print(len(df.Home.unique()))
print(len(df.Away.unique()))

71
71

In [37]:
df_new = df.drop(['xG','xG.1','Attendance','Venue'],axis=1)

In [38]:
df_new = df_new.dropna()

In [ ]:
df_new['Date'] = pd.to_datetime(df_new['Date'])
df_new['Year'] = df_new['Date'].dt.year
df_new['Month'] = df_new['Date'].dt.month
df_new['Day'] = df_new['Date'].dt.day

# Drop the original Date column
df_new = df_new.drop('Date', axis=1)

In [39]:
X = df_new[['Home','Away','Season','Year','Month','Day']]
y = df_new['Home Goals']

In [40]:
X = pd.get_dummies(X, columns=['Home', 'Away', 'Season'])

'''le = LabelEncoder()

Date_le = le.fit_transform(df.Date)

df_new['Date_le'] = Date_le

df_new = df_new.drop(['Date'],axis=1)'''

In [41]:
X_train, X_, y_train, y_ = train_test_split(X, y, test_size=0.3, random_state=42)
X_cv, X_test, y_cv, y_test = train_test_split(X_, y_, test_size=0.5, random_state=42)

del X_, y_

In [ ]:
rfr = RandomForestRegressor(n_estimators=100, random_state=42)
rfr.fit(X_train, y_train)

In [ ]:
yhat1 = rfr.predict(X_cv)
yhat2 = rfr.predict(X_test)

print(f"MSE of CV: {mean_squared_error(y_cv,yhat1)}")
print(f"MSE of Test: {mean_squared_error(y_test,yhat2)}")

print(f"R-Squared of CV: {r2_score(y_cv,yhat1)}")
print(f"R-Square of Test: {r2_score(y_test,yhat2)}")